menu "SoC Audio support for Allwinner SoCs"
        depends on ARCH_SUNXI

config SND_SUNXI_SOC_CODEC
	tristate "APB on-chip sun4i/sun5i/sun7i CODEC"
	select SND_SOC_GENERIC_DMAENGINE_PCM
	select REGMAP_MMIO
	default y

endmenu
